/*--------------- Presentacion ---------------*/

.presentacion{
  min-height: 100vh;
  text-align: center;
  background-image: url("../src/img/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.prod-texto{
  min-height: 300px;
  margin-bottom: 10em;
  padding: 2em 6em;
color: aliceblue;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 32px 0 rgba(203, 203, 203, 0.419);
  border-radius: 1.2em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.prod-texto button{
  width: 100%;
  padding: .6em 0;
  font-size: 1.4rem;
  background-color: rgb(79, 161, 233);
  border: none;
  border-radius: .5em;
  color: aliceblue;
  cursor: pointer;
  transition: .5s;
}
.prod-texto button:hover{
  background-color: rgb(122, 193, 254);
  color: rgb(45, 97, 142);
}

/*--------------- Footer ---------------*/

.cont{
  margin-top: 8em;
  padding: 2em 0;
  background-color: rgb(94, 72, 162);
}